table td{
    table-layout: fixed;
    overflow: hidden;
}
td:hover{
    cursor:move;
    }

    @media only screen and (max-width: 800px) {
        th:nth-child(3),td:nth-child(3) {
          display:none;
        }
      }