
.App-header {
  background-color: #125bec;
  min-height: 50vh;

  color: white;
}

ul {
  list-style: none;
  padding:0px;
  line-height: 300%;
}

.card-price {
  font-size: 3rem;
}
.btn{
  opacity: 0.5;
}
.period{

  font-size: 0.8rem;
}

.rounded-3{
  border-radius: 1rem;
}
.card:hover {
  margin-top: -.25rem;
  margin-bottom: .25rem;
  box-shadow:0 0.5rem 1rem 0 rgba(0,0,0,0.3);
}

.btn:hover{
  opacity: 1;
}



